<div class="libcast-xblock" data-video-id="{{ video_id }}">
  {% for level, message in messages %}
  <p class="{{ level }}"><i class="icon fa fa-{{ level }}"></i><span>{{ message }}</span></p>
  {% endfor %}

  <div class="videoplayer">
    <video
      class="video-js vjs-default-skin vjs-big-play-centered"
      controls
      preload="none"
      width="100%"
      height="375px"
      poster="{{ thumbnail_url }}"
      data-setup='{ "playbackRates": [0.5, 1, 1.5, 2] }'
      >
      {% for source in video_sources %}
      <source src="{{ source.url }}" type="{{ source.type }}" label="{{ source.label }}" res="{{ source.res }}"/>
      {% endfor %}
      {% for subtitle in subtitles %}
      <track src="{{ transcript_root_url }}?id={{ subtitle.id|urlencode }}" kind="subtitles" srclang="{{ subtitle.language }}" label="{{ subtitle.language_label}}">
      {% endfor %}
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>

    <div class="transcript"></div>
  </div>

  {% if downloadable_files %}
  <p>Télécharger la vidéo :
    {% for file in downloadable_files %}
    <a href="{{ file.url }}" target="_blank">{{ file.name }}</a>
    {% if not forloop.last %}/{% endif %}
    {% endfor %}
  </p>
  {% endif %}
</div>
